.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link,
.btn {
  color: black bold;
}

.link {
  flex-basis: calc(100% / 3 - 15px);
  background-color: rgb(182, 182, 243);
  text-decoration: none;
  padding: 5px;
  flex-grow: 1;
  border-color: black;
}

.active,
.btn {
  background-color: sandybrown;
}

.link:not(.active):hover {
  background-color: yellow;
}

.form {
  width: 75%;
  margin: 25px auto;
  text-align: right;
}

.form-field {
  text-align: left;
  flex-direction: column;
}

.form-field,
.btn {
  margin: 5px 10px;
}

.btn {
  outline: none;
  border-radius: 15px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.flex-columm {
  flex-direction: column;
}

.trip-display-container {
  flex-basis: calc(100% / 2 - 25px);
  margin: 10px;
  border: 2px solid rgb(216, 86, 86);
  border-radius: 10px;
  background-color: cadetblue;
  padding: 5px;
}

.trip-display {
  max-width: 100%;
  display: block;
  margin: 5px auto;
  max-height: 300px;
}

.text-center {
  text-align: center;
}

.saved-trips-btn {
  width: 50%;
  display: block;
  margin: auto auto 0px auto;
  padding: 5px;
}

/* .road-trip-img {

} */

/* body {
  background-image: url(./pu);
  opacity: 0.1;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
